In [1]:
# Importación de librerias
import pandas as pd
import ast
import gzip
from datetime import datetime
import gzip

In [24]:
# Carga del dataframe con el archivo steam_games.json.gz
df_reviews = pd.read_parquet('Dataset/df_user_reviews_final.parquet') 
df_reviews.head(3)

,user_id,user_url,reviews_item_id,reviews_helpful,reviews_recommend,reviews,reviews_date,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2011-11-05,2
1,js41637,http://steamcommunity.com/id/js41637,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,2014-06-24,2
3,doctr,http://steamcommunity.com/id/doctr,250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...,2013-10-14,2

In [3]:
# Revisamos las columnas de reviews
df_reviews.columns

Index(['user_id', 'user_url', 'reviews_item_id', 'reviews_helpful',
       'reviews_recommend', 'reviews', 'reviews_date', 'sentiment_analysis'],
      dtype='object')

In [4]:
# Eliminamos las columnas que no se requieren
df_reviews.drop(columns=[ 'user_id', 'user_url', 'reviews_helpful', 'reviews', 'reviews_date'], inplace=True)
df_reviews

       reviews_item_id  reviews_recommend  sentiment_analysis
0                 1250               True                   2
1               251610               True                   2
3               250320               True                   2
4               211420               True                   1
5               249130               True                   0
...                ...                ...                 ...
231901          332310               True                   0
231919             440               True                   2
231921          304930               True                   0
232047          265630               True                   2
232127          304050               True                   2

[48909 rows x 3 columns]

In [5]:
# Verificamos el estado de la data
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48909 entries, 0 to 232127
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   reviews_item_id     48909 non-null  object
 1   reviews_recommend   48909 non-null  bool
 2   sentiment_analysis  48909 non-null  int64
dtypes: bool(1), int64(1), object(1)
memory usage: 1.2+ MB

In [6]:
# Carga del dataframe con el archivo steam_games.json.gz
df_steam_games = pd.read_json('dataset/steam_games.json.gz',lines=True,compression='gzip')
df_steam_games.drop(columns=['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',  'tags', 'reviews_url', 'specs', 'price', 'early_access'], inplace=True)
df_steam_games = df_steam_games.dropna(how='all')
df_steam_games.head(3)

             id         developer
88310  761140.0         Kotoshiro
88311  643980.0  Secret Level SRL
88312  670290.0      Poolians.com

In [7]:
# Verificar si hay valores nulos en el dataframe
null_counts = df_steam_games.isnull().sum()

# Imprimir el conteo de valores nulos por columna
print(null_counts)

id              1
developer    3298
dtype: int64

In [8]:
# Eliminamos los registros que contiene datos nulos
df_steam_games = df_steam_games.dropna()

# Verificar si hay valores nulos en el dataframe
null_counts = df_steam_games.isnull().sum()

# Imprimir el conteo de valores nulos por columna
print(null_counts)

id           0
developer    0
dtype: int64

In [9]:
# Verificar si hay valores nulos en el dataframe
null_counts = df_reviews.isnull().sum()

# Imprimir el conteo de valores nulos por columna
print(null_counts)

reviews_item_id       0
reviews_recommend     0
sentiment_analysis    0
dtype: int64

In [10]:
# Revisamos la data
df_reviews.head()

  reviews_item_id  reviews_recommend  sentiment_analysis
0            1250               True                   2
1          251610               True                   2
3          250320               True                   2
4          211420               True                   1
5          249130               True                   0

In [11]:
# Revisamos la data
df_steam_games.head()

             id            developer
88310  761140.0            Kotoshiro
88311  643980.0     Secret Level SRL
88312  670290.0         Poolians.com
88313  767400.0                 彼岸领域
88315  772540.0  Trickjump Games Ltd

In [12]:
# Convertir las columnas de unión al mismo tipo de datos
df_reviews['reviews_item_id'] = df_reviews['reviews_item_id'].astype(float)
df_steam_games['id'] = df_steam_games['id'].astype(float)

# Verificar que las conversiones fueron exitosas
print(df_reviews['reviews_item_id'].dtype)
print(df_steam_games['id'].dtype)

float64
float64

In [13]:
# Revisamos la data
df_reviews.head()

   reviews_item_id  reviews_recommend  sentiment_analysis
0           1250.0               True                   2
1         251610.0               True                   2
3         250320.0               True                   2
4         211420.0               True                   1
5         249130.0               True                   0

In [14]:
# Revisamos la data
df_steam_games.head()

             id            developer
88310  761140.0            Kotoshiro
88311  643980.0     Secret Level SRL
88312  670290.0         Poolians.com
88313  767400.0                 彼岸领域
88315  772540.0  Trickjump Games Ltd

In [15]:
# Unir los datasets
merged_df = df_reviews.merge(df_steam_games, left_on='reviews_item_id', right_on='id')

In [16]:
# Revisamos la data
merged_df

,reviews_item_id,reviews_recommend,sentiment_analysis,id,developer
0,1250.0,True,2,1250.0,Tripwire Interactive
1,250320.0,True,2,250320.0,Telltale Games
2,211420.0,True,1,211420.0,FromSoftware
3,249130.0,True,0,249130.0,Traveller's Tales
4,4000.0,True,1,4000.0,Facepunch Studios
...,...,...,...,...,...
41373,332310.0,True,0,332310.0,"TT Games,Traveller's Tales"
41374,440.0,True,2,440.0,Valve
41375,304930.0,True,0,304930.0,Smartly Dressed Games
41376,265630.0,True,2,265630.0,Fistful of Frags Team
41377,304050.0,True,2,304050.0,Trion Worlds

In [17]:
# Revisamos las columnas
merged_df.columns

Index(['reviews_item_id', 'reviews_recommend', 'sentiment_analysis', 'id',
       'developer'],
      dtype='object')

In [18]:
# Eliminamos columnas que no son necesarias para la funcion de calculo
merged_df.drop(columns=['reviews_item_id', 'sentiment_analysis', 'id'], inplace=True)

In [19]:
# Verificamos la data
merged_df.head()

   reviews_recommend             developer
0               True  Tripwire Interactive
1               True        Telltale Games
2               True          FromSoftware
3               True     Traveller's Tales
4               True     Facepunch Studios

In [20]:
# Analizamos la data
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41378 entries, 0 to 41377
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   reviews_recommend  41378 non-null  bool
 1   developer          41378 non-null  object
dtypes: bool(1), object(1)
memory usage: 363.8+ KB

In [21]:
# Almacenar este dataset resultante para la ejección del cuarto EndPoint
merged_df.to_parquet('dataset/df_reseñas_desarrollador.parquet', engine='pyarrow')

In [22]:
# Se carga el dataset para la ejecución del EndPont 
merged_df = pd.read_parquet('Dataset\df_reseñas_desarrollador.parquet') 
merged_df.head()

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\juank\AppData\Local\Temp\ipykernel_5288\804127027.py:2: SyntaxWarning: invalid escape sequence '\d'
  merged_df = pd.read_parquet('Dataset\df_reseñas_desarrollador.parquet')

   reviews_recommend             developer
0               True  Tripwire Interactive
1               True        Telltale Games
2               True          FromSoftware
3               True     Traveller's Tales
4               True     Facepunch Studios

# Elaboramos la base de la funcion para la API

In [23]:
# Se carga el dataset para la ejecución del EndPont 
merged_df = pd.read_parquet('Dataset\df_reseñas_desarrollador.parquet') 

desarrolladora='Smartly Dressed Games'

# Filtrar por desarrolladora
filtered_df = merged_df[merged_df['developer'] == desarrolladora]

# Contar las reseñas positivas y negativas
positive_reviews = filtered_df[filtered_df['reviews_recommend'] == True].shape[0]
negative_reviews = filtered_df[filtered_df['reviews_recommend'] == False].shape[0]
# Crear el diccionario de resultados
result = {desarrolladora: {'Negative': negative_reviews, 'Positive': positive_reviews}}
print(result)

{'Smartly Dressed Games': {'Negative': 71, 'Positive': 841}}

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\juank\AppData\Local\Temp\ipykernel_5288\2964315251.py:2: SyntaxWarning: invalid escape sequence '\d'
  merged_df = pd.read_parquet('Dataset\df_reseñas_desarrollador.parquet')